<!-- Esto se vera en Android -->
<ion-header [translucent]="true" >
  <!-- <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-button>
        <a href="#!" class="menuIcon">
          <i class="bi bi-list"></i>

        </a>
      </ion-button>
    </ion-buttons>

    <ion-title>
      <figure class="logoCadif">
        <a href="#!">
          <img src="https://cadif1.com/img/template/logo-cadif1.svg" alt="Logo" class="img-fluid">
        </a>
      </figure>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="presentActionSheet()">
          <i class="bi bi-house-door"></i>

      </ion-button>
    </ion-buttons>

  </ion-toolbar> -->
  <ion-toolbar>
    <nav class="navbar navbar-expand-sm ">
      <div class="container-fluid ">
        <a href="#!" class="navbar-brand px-2" target="_blank">
          <ion-title>
            <ion-img src="https://app.cadif1.com/img/template/logo-cadi-blanco.svg"></ion-img>
          </ion-title>
        </a>

        <ul class="navbar-nav ">
          <li class="nav-item">
            <span class="nav-link" (click)="presentActionSheet()">
              <ion-icon name="add-circle-outline" color="light"></ion-icon>
            </span>
          </li>
          <li class="nav-item">
            <span class="nav-link" (click)="presentAlert()">
              <ion-icon name="document-text-outline" color="light"></ion-icon>
            </span>
          </li>
          <li class="nav-item">
            <span class="nav-link">
              <ion-icon name="person-circle-outline" color="light"></ion-icon>
            </span>
          </li>
        </ul>

      </div>
    </nav>

  </ion-toolbar>

</ion-header>



<!-- Esto se vera en iOS -->
<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense" *ngIf="platform.is('ios')" >
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button>
          <a href="#!" class="menuIcon">
            <i class="bi bi-list text-secondary"></i>
          </a>
        </ion-button>
      </ion-buttons>
  
      <ion-title>
        <figure class="logoCadif">
          <a href="#!">
            <img src="https://cadif1.com/img/template/logo-cadif1.svg" alt="Logo" class="img-fluid">
          </a>
        </figure>
      </ion-title>
  
      <ion-buttons slot="start">
        <ion-button>
          <a href="https://cadif1.com/" class="homeIcon" target="_blank">
            <i class="bi bi-house-door text-secondary"></i>
          </a>
  
        </ion-button>
      </ion-buttons>
  
    </ion-toolbar>
  </ion-header> -->
  
  <div id="container">
    <nav>
      <ul class="navList">
        <li>Inicio
          <i class="bi bi-caret-right"></i>
        </li>
        <li>Carreras Tecnicas
          <i class="bi bi-caret-right"></i>
        </li>
        <li> Programacion BackEnd con PHP</li>
      </ul>
    </nav>
    <main>
      <section class="titlePensum">
        <div class="d-flex justify-content-between align-items-center gap-3">
          <figure class="logoCarrera">
            <img src="https://cadif1.com/img/iconos/11.png" alt="logoCarrera" class="img-fluid">
          </figure>
          <h1>
            Programación BackEnd con PHP
          </h1>
        </div>

        <div>
          <h4>
            Crear un BackEnd con PHP y bases de datos Mysql
          </h4>
        </div>
      </section>
      <section class="pensumInfo">
        <div class="inicioBlock">
          <div class="inicioContainer">
            <h3>Fechas de Inicio</h3>
          </div>
          <p>No hay fechas planificadas</p>
        </div>

        <div class="pensumBlock">
          <div class="pensumContainer">
            <h3>Pensum de Estudio</h3>
          </div>
          <div class="accordionPensum">
            <div class="accordion accordion-flush" id="accordionFlushExample">


              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    MÓDULO 1
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <div class="infoPensum">PHP Nivel I</div>
                    <div class="infoPensum">Fundamentos de Bases de Datos Nivel I</div>
                  </div>
                </div>
              </div>


              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    MÓDULO 2
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <div class="infoPensum">PHP Nivel II</div>
                    <div class="infoPensum">Fundamentos de Bases de Datos Nivel II</div>
                  </div>
                </div>
              </div>


              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    MÓDULO 3
                  </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <div class="infoPensum">PHP Nivel III</div>
                    <div class="infoPensum">Mysql Nivel I</div>
                  </div>
                </div>
              </div>


              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    MÓDULO 4
                  </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <div class="infoPensum">Laravel Nivel I</div>
                    <div class="infoPensum">Servicios WEB en PHP Nivel I</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="downloadPensum">
          <button class="downPensum">Descargar Pensum</button>
          <div class="notaPensum">
            <strong>Nota:</strong>
            <p>El pensum de estudio puede cambiar sin previo aviso.</p>
          </div>
        </div>
      </section>

      <section class="infoCarrera">
        <div class="infoGeneral">
          <div class="titleBox">
            <i class="bi bi-info-circle"></i>
            <h2>Información General</h2>
          </div>
          <p>
            Un BackEnd es la parte de una aplicación que le da respuestas a los distintos FrontEnds de una plataforma.
            El BackEnd no es visible para el usuario final y se puede programar en cualquier lenguaje del lado del
            servidor. Php es un lenguaje muy utilizado para crear páginas Web dinámicas. Como se ejecuta del lado del
            servidor, también es muy utilizado para crear un BackEnd que de soporte a los FrontEnd que lo requieran.
          </p>
        </div>

        <div class="infoGeneral">
          <div class="titleBox">
            <i class="bi bi-check-circle"></i>
            <h2>Objetivo General</h2>
          </div>
          <p>
            Crear bases datos relacionales con MySQL, aprender a manipular los datos de una base de datos usando
            instrucciones SQL Crear el BackEnd de una aplicación Web utilizando el Framework Laravel, que implemente
            servicios Web que se conecte a una base de datos MySql, para publicar un API REST que pueda ser consumido
            por cualquier FrontEnd.
          </p>
        </div>

        <div class="infoGeneral">
          <div class="titleBox">
            <i class="bi bi-info-circle"></i>
            <h2>Inscripciones</h2>
          </div>
          <p>
            Las inscripciones se abren 30 dias antes del inicio y se cierran un dia antes o al agotarse los cupos.
          </p>
        </div>

        <div class="infoGeneral">
          <div class="titleBox">
            <i class="bi bi-check-circle"></i>
            <h2>Horarios disponibles para las carreras técnicas</h2>
          </div>
          <ul>
            <li>Mañana: de 7:15 am a 11:00 am</li>
            <li>Medio dia: de 11:00 am a 2:45 pm</li>
            <li>Tarde: de 2:45 pm a 6:30 pm</li>
            <li>Noche: de 6:30 pm a 10:15 pm</li>
          </ul>
        </div>

        <div class="infoGeneral">
          <div class="titleBox">
            <i class="bi bi-info-circle"></i>
            <h2>Certificado a Obtener</h2>
          </div>
          <p>
            <strong>Programador BackEnd con PHP</strong>
          </p>
        </div>

      </section>
    </main>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="container-fluid footer">
      <ul class="listFooter">
        <li>
          <div class="footerBoxOptions">
            <img src="https://cadif1.com/img/servicios/iconos/carrera-informaticas.png" alt="">
            <span>Carreras</span>
          </div>
        </li>
        <li>
          <div class="footerBoxOptions">
            <img src="https://cadif1.com/img/servicios/iconos/cursos-presenciales.png" alt="">
            <span>Cursos</span>
          </div>
        </li>
        <li>
          <div class="footerBoxOptions">
            <img src="https://cadif1.com/img/servicios/iconos/asesoria-tecnicas.png" alt="">
            <span>Asesorias</span>
          </div>
        </li>
        <li>
          <div class="footerBoxOptions">
            <img src="https://cadif1.com/img/servicios/iconos/alquiler-salones.png" alt="">
            <span>Salones</span>
          </div>
        </li>
      </ul>
    </div>
  </ion-toolbar>
</ion-footer>