<app-header></app-header>


<ion-content [fullscreen]="true">
  
  <!-- <app-login-user></app-login-user> -->
  <main class="h-100 d-flex justify-content-center align-items-center">
    <div class="d-flex justify-content-center align-items-center p-2 infoFooter">
  
      <p>Version de Android Studio: <strong>Android Studio Iguana</strong></p>
      <p>Version de JDK: <strong>22.0.1</strong></p>
      <p>Version de Graddle: <strong>8.0.0</strong></p>
      <p>Version de Angular: <strong>17.3.2</strong></p>
      <p>Version de Ionic: <strong>7.2.0</strong></p>
    </div>

  </main>
    
</ion-content>

